
<!DOCTYPE html>
<html>
  <head>
    <title>AI Proof Filter Generator</title>

    <style>
    h1 {text-align: center;}
    body {text-align: center;}
    div {text-align: center;}
    html::before {
    content: "";
    position: fixed;
    inset: 0;                    /* top:0; right:0; bottom:0; left:0; */
    border: 10px solid #bcdbd3;
    pointer-events: none;        /* lets clicks pass through */
    box-sizing: border-box;
}
    </style>

  </head>
  <body style="background-color:rgb(249, 242, 236)">

    <h6 style="color:rgb(249, 242, 236);">top text</h6>
    <h1>AI Proof Filter Generator</h1>
    <h2>Discription</h2>
    <table style="width:100%; border-collapse: collapse;">
         <tr>
            <td style="width:30%;"></td>
            <td style="width:40%;">We created a code using HTML and Python that will take any image uploaded, then run it through a code
        that will apply a special filter that will make it relatively safer to upload online. Why? Because many
        artists who upload their art online are trying to get a profit out of it, but instead, other people are
        using A.I to take the art for their own by using it to train the A.I so it can create images for them, or
        just to take the art completely. For example, there is an artist named Richard Prince who made over
        $100, 000 by selling printed screenshots of other people’s Instagram posts. The artist never asked for
        permission, as confirmed by an Instagram user whose post he used to make profit. The filter is created by
        using the randomness of the chaos theory to generate fractals. We chose to do fractals as redemtion for
        our really bad math fair in grade 5.  We used something called the Mandelbrot equation - the same equation
        used to generate a really popular fractal - to create noise patterns that will help guide the generation of
        the lines that will be used as our filter.</td>
            <td style="width:30%;"></td>
         </tr>
    </table>
    <h2>Instructions</h2>
        <p>1.Click Upload File<br>
        2. Choose File To Be Put Though Filter<br>
        3. Click Upload Image!</p>
    <h2>Diagram</h2>
        <img src="{{ url_for('static', filename='science_diagram.png') }}" class="image" style="width:800px;height:480px;" />

        <div>
        <form action="/upload" method="post" enctype="multipart/form-data" >
            <label for="l_img">Select an Image:</label><br>
            <input type="file" name="image" accept="image/*" required><br>
            <button type="submit">Upload Image!</button>


            <!-- Slider BEGINS -->
            <label for="intensity">Transparency:</label>
            <input type="range" id="intensity" name="intensity" min="0" max="255" value="100">
            <span id="intensityValue">100</span>
            <script>
            const slider = document.getElementById('intensity');
            const display = document.getElementById('intensityValue');
            
            slider.addEventListener('input', function() {
                display.textContent = this.value;
            });
            </script>
            <!-- Slider ENDS -->

        </form> 
        </div>

        {% if result_image %}
            <h2>Filtered Image:</h2>
            <img src="{{result_image}}" width = "400">
        {% endif %}

            <h6 style="color:rgb(249, 242, 236);">bottom text</h6>
    </body>
</html>